@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Passion One", sans-serif;
    --font3: "Sriracha", cursive;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font2)
}

body {
    min-height: 100vh;
    font-family: var(--font1);
    /* max-width: 1300px; */
    margin: auto;
    background-color: rgba(0, 0, 0, 0.486);
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    max-height: 222px;
    min-height: 100px;
}

header h1 {
    font-family: var(--font2);
    font-size: 4em;
    padding: 14px;
    font-variant: small-caps;
}

header p {
    font-size: 1.2em;
}


main p {
    font: normal 2em var(--font3);
    line-height: 2em;
    justify-content: left;
}

section {
    background-color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

.content-text {
    color: black;
}

.content-text-with-two {
    padding-top: 10vh;
}

.content-image {
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
}

.content-image p {
    padding: 0 10px;
    color: white;
    /* width: max-content; */
    display: inline-block;
    background-color: #00000054;
    text-shadow: 1px 1px 0px black;
}

.bg-one {
    background: url(images/background001.jpg) right center no-repeat fixed;
}

.bg-two {
    background: url(images/background002.jpg) right center no-repeat fixed;
}

.last-content {
    margin-bottom: 80px;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1em;
}

@media (max-width: 900px) {
    header h1 {
        font-size: 3.5em;
    }

    header p {
        font-size: 1.0em;
    }

    main p {
        font-size: 1.6em;
    }

    @media (max-width: 600px) {
        header h1 {
            font-size: 3em;
        }

        header p {
            font-size: 0.8em;
        }

        main p {
            font-size: 1.4em;
        }
    }

}